
<form>
    <label for="email" style="font-weight: bold;font-size: 18px;font-family: Nunito, Helvetica Neue, Helvetica, Arial, sans-serif;width: auto;">Email</label><br/><br/>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9a10d01d53cc47349a4615fc4_e386189b3f" tabindex="-1" value=""></div>
    <input type="email" [(ngModel)]="email" name="EMAIL" class="required email subscribe-input" id="mce-EMAIL" style="width: 100%; height: 32px; border-radius: 50px; background-color: #fff; border: 2px solid #c9c9c9;" required>

    <button type="submit" pButton icon="pi pi-check" class="subscribe-btn" style="background-color: rgb(255,0,70);height: auto;min-height: 40px;width: auto;color: white;border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.01em;
    vertical-align: middle;
    line-height: inherit;
    overflow: hidden;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Nunito, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 20px;" (click)="submit(); $event.preventDefault()">Subscribe</button>
  </form>
