<!-- <div style="margin: 30px;">
  <div _ngcontent-c1="" class="bodyContainer contentContainer" style="background:#transparent none no-repeat center/cover;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;max-width: 960px;width: 100%;flex: 0 0 auto;background-color: #transparent;background-image: none;background-repeat: no-repeat;background-position: center;background-size: cover;border-top: 0;border-bottom: 0;padding-top: 0;padding-bottom: 0;box-sizing: border-box !important;">
     <div _ngcontent-c1="" class="mcnTextBlock" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;" width="100%">
        <div _ngcontent-c1="" class="mcnTextBlockInner" style="display: flex;padding: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
           <div _ngcontent-c1="" style="width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
              <div _ngcontent-c1="" class="mcnTextContent" style="padding-top: 0;padding-right: 9px;padding-bottom: 9px;padding-left: 9px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;word-break: break-word;flex-flow: column;color: #686868;font-family: Nunito;font-size: 18px;line-height: 150%;text-align: center;box-sizing: border-box !important;">

                 <p _ngcontent-c1="" style="text-align: center;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;margin: 10px 0;padding: 0;color: #686868;font-family: Nunito;font-size: 18px;line-height: 150%;box-sizing: border-box !important;">With the <strong _ngcontent-c1="" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">free</strong> Poll Sports app, you can create real-time polls with just a few clicks from your computer or mobile device. Thousands of fantasy players can vote instantly and offer advice on who to start or whether or not to accept a trade.&nbsp;</p>
              </div>
           </div>
        </div>
     </div>

      <div _ngcontent-c1="" class="mcnCaptionBlockInner" style="padding: 9px;width: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
         <div _ngcontent-c1="" class="" style="display: flex;flex-direction: column;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
            <div _ngcontent-c1="" style="display: flex;flex: 0 0 auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;">
               <div _ngcontent-c1="" class="mcnCaptionBottomImageContent" style="padding: 0 9px 9px 9px;justify-content: center;display: flex;flex: 1 1 100%;align-self: flex-start;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box !important;"><img _ngcontent-c1="" alt="" class="mcnImage" src="https://eep.io/mc-gallery/9a10d01d53cc47349a4615fc4/images/0057df52-2aa7-48ea-bf1b-9c2a1e74a29f.png" style="align-self: center;max-width: 100%;border-radius: 49%;box-shadow: rgba(0, 0, 0, 0.07) 18px 18px 22px 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" width="702"></div>
            </div>

         </div>
      </div>
  </div>
</div>
 -->
 <div style="text-align: center; font-family: serif; margin: 30px;">
  <div>
    <h2>You're now on the wait list!</h2>
    <p style="line-height: 20px;">Poll Sports is all about the community that we build. Share your unique URL below and earn <b>100 bonus points</b> for <b>every</b> friend that signs up to the waitlist.</p>
  </div>
  <div>
    <input type="text" [value]="shareUrl" style="width: 350px; height: 45px; font-size: 18px; padding: 10px;">
  </div>
   <img _ngcontent-c1="" alt="" class="mcnImage" src="https://eep.io/mc-gallery/9a10d01d53cc47349a4615fc4/images/0057df52-2aa7-48ea-bf1b-9c2a1e74a29f.png" style="margin: 20px; width: 350px; align-self: center;max-width: 100%;border-radius: 49%;box-shadow: rgba(0, 0, 0, 0.07) 18px 18px 22px 0px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;border: 0;height: auto;outline: none;text-decoration: none;vertical-align: bottom;box-sizing: border-box !important;" width="702">
</div>
